body {
    font-family: 'roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: regular;
}
 
ul {
    list-style-type: none;
}

h1 {
    color:rgba(255, 255, 255, 1);
    background-color: rgba(46, 47, 66, 1);
    font-size: 56px;
    line-height: 1.0;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    color:rgba(46, 47, 66, 1);
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color:rgba(46, 47, 66, 1);
    font-weight: medium;
}

p {
    font-size: 12px;
    line-height: 1.1;
    color:rgba(67, 68, 85, 1);
    font-weight: regular;
}

.logo {
    color:rgba(46,47,66,1);
    text-decoration: none;
    color: rgba(46, 47, 66, 1);

}

.logo:hover {
    color:rgba(64, 75, 191, 1);
}

.logo:focus {
    color:rgba(64, 75, 191, 1);
}

.header-link {
    color: rgba(67, 68, 85, 1);
    text-decoration: none;
} 

.header-link:hover {
    color:rgba(64, 75, 191, 1);
}

header-link:focus {
    color:rgba(64, 75, 191, 1);
}


.contact-link {
    color:rgba(46,47,66,1);
    text-decoration: none;
}

.contact-link:hover {
    color:rgba(64, 75, 191, 1);
}

.contact-link:focus {
    color:rgba(64, 75, 191, 1);
}

.order-button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(77, 90, 229, 1);
    font-size: 16px;
    font-weight: medium;
    cursor: pointer;
}

.order-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(64, 75, 191, 1);
}

.footer-link {
    color:rgba(46,47,66,1);
    text-decoration: none;
}

.footer-link:hover {
    color:rgba(64, 75, 191, 1);
}

.footer-link:focus {
    color:rgba(64, 75, 191, 1);
}

a, span {
    color:rgba(77, 90, 229, 1);
}